.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Bootstrap button custom */
.custom-class {
  /* background: rgb(170, 21, 178) !important; */
  --bs-btn-bg: #ae8fc1 !important;
  --bs-btn-hover-bg: #ae8fc1 !important;
  ;
  /* --bs-btn-color: rgb(35, 35, 35) !important;; */
  --bs-btn-border-color: #c48ee6 !important;
  --bs-btn-hover-border-color: #c48ee6 !important;
  --bs-btn-focus-shadow-rgb: disable !important;
  --bs-btn-active-bg: #79588e !important;
  --bs-btn-active-border-color: #79588e !important;
  --bs-btn-disabled-bg: #ba8ed5 !important;
  --bs-btn-disabled-border-color: #ba8ed5 !important;
}

/* Navbar Text */
.navb {
  background-color:  #1a1e22 !important;
  --bs-navbar-color: #efd8ff !important;
  --bs-navbar-hover-color: rgb(245 230 255) !important;
  --bs-navbar-active-color: rgb(245 230 255) !important;
  border-bottom: #dcaaff solid 3px;
}

/* Item List Container  */
.ItemListContainer {
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}

.TestCard {
  width: 18rem !important;
  margin-left: 20px;
}

.Card {
  display: flex;
  align-items: center;
  width: 300px !important;
  height: 430px !important;
  margin: 20px;
}


.ItemCounter {
  background-color: #ffffff;
  border: 2px solid #c29bdb;
  width: 15rem;
  height: 2.5rem;
  margin: 0 auto;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;

}

.minusplus {
  all: unset;
  font-size: 2rem;
  color: #000000;
}

.num {
  font-size: 1.2rem;
  width: 39%;
  color: #000000;
}

.card-group {
  justify-content: space-around;
}