.App {
  /* text-align: center; */
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #3a0071;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Bootstrap button custom */
.btn-addtocart {
  --bs-btn-bg: #aa76ff !important;
  --bs-btn-hover-bg: #532f8f !important;
  --bs-btn-border-color: #c48ee6 !important;
  --bs-btn-hover-border-color: #c48ee6 !important;
  --bs-btn-focus-shadow-rgb: disable !important;
  --bs-btn-active-bg: #79588e !important;
  --bs-btn-active-border-color: #79588e !important;
  --bs-btn-disabled-bg: #ba8ed5 !important;
  --bs-btn-disabled-border-color: #ba8ed5 !important;
  width: -webkit-fill-available;
}

.btn-deletefromcart {
  --bs-btn-bg: #8684a7 !important;
  --bs-btn-hover-bg: #4d4b63 !important;
  --bs-btn-border-color: #9996c5 !important;
  --bs-btn-hover-border-color: #a8a5d4 !important;
  --bs-btn-focus-shadow-rgb: disable !important;
  --bs-btn-active-bg: #8684a7 !important;
  --bs-btn-active-border-color: #a8a5d4 !important;
  --bs-btn-disabled-bg: #8684a7!important;
  --bs-btn-disabled-border-color: #a8a5d4!important;
  width: -webkit-fill-available;
}

.btn-checkout {
  --bs-btn-bg: #e05daf !important;
  --bs-btn-hover-bg: #991367 !important;
  --bs-btn-border-color: #ff85e6 !important;
  --bs-btn-hover-border-color: #ca59ad !important;
  --bs-btn-focus-shadow-rgb: disable !important;
  --bs-btn-active-bg: #c84ddf !important;
  --bs-btn-active-border-color: #ff85f9 !important;
  --bs-btn-disabled-bg: #ba38b4!important;
  --bs-btn-disabled-border-color: #b438ba!important;
  width: -webkit-fill-available;
}


/* Navbar Text */
.navb {
  background-color: #1a1e22 !important;
  --bs-navbar-color: #efd8ff !important;
  --bs-navbar-hover-color: rgb(245 230 255) !important;
  --bs-navbar-active-color: rgb(245 230 255) !important;
  border-bottom: #ffd2fe solid 10px;
}

/* Item List Container  */
.ItemListContainer {
  /* margin-top: 1rem; */
  text-align: center;
  padding: 20px;
}

/* .TestCard {
  width: 18rem !important;
  margin-left: 20px;
} */

.Card {
  /* display: flex;
  align-items: center;
  width: 300px !important;
  height: 430px !important;
  margin: 20px; */
  width: 270px !important;
  height: 100% !important;
  margin: 0 auto;
  /* margin-right: 1rem; */
  /* margin-bottom: 1rem; */
  /* text-align: initial; */
  /* height: 100% !important; */
  /* height: 400px!important; */
  -webkit-box-shadow: 0px 0px 7px -1px rgb(0 0 0 / 10%);
}

.item-counter {
  background-color: #ffffff;
  border: 2px solid #e1e1e1;
  width: 50%;
  height: 2.5rem;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  color: #212121;
  margin-right: 1rem;
}

.minusplus {
  all: unset;
  font-size: 120%;
}

.num {
  font-size: 1.2rem;
  text-align: center;
  width: 39%;
}

.card-group {
  justify-content: space-around;
}

.ItemDetail {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 3rem auto;
}

@media screen and (max-width: 575px) {
  .ItemDetail{
    display: flex;
    flex-wrap: wrap;
  }
}
/* 
h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
h3 {
  font-size: 2.0vh;
}
p {
  font-size: 2vmin;
} */

.wrapper {
  width: 500px;
  margin-inline-start: 2rem;
}

.ItemDetailText {
  text-align: initial;
}

.Card-Item {
  margin-bottom: 20px;
}

.card-img {
  width: 100% !important;
  object-fit: cover;
  height: 250px;
}

.card-bodyy {
  flex: 1 1 auto;
  /* height: 50px; */
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.no-style {
  color: inherit;
  text-decoration: inherit;
  --bs-link-hover-color: #5a409c;
}

.purchase {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

.cart {
  -webkit-box-sizing: border-box;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
}

.total-cart {
  background: #e6eaf0;
  border-color: white;
  /* color: white; */
  --bs-table-hover-bg: rgba(255, 239, 239, 0.075);
}

.empty-cart {
  background: #f4f4ff;
  padding: 2%;
  border-top: #e0ceff solid 4px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.icon {
  margin-right: 2%;
}

.back-store {
  --bs-btn-bg: #c4a2ff !important;
    --bs-btn-color: white !important;
    /* padding: 1%; */
    /* padding-inline: inherit; */
    /* width: max-content; */
    --bs-btn-border-color: disable !important;
}

.cart-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.new-icon {
  margin-right: 1%;
}