.App {
  text-align: center;
  height: 100%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #3a0071;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Bootstrap button custom */
.custom-class {
  --bs-btn-bg: #cca3e5 !important;
    --bs-btn-hover-bg: #b382d0 !important;
  /* --bs-btn-color: rgb(35, 35, 35) !important;; */
  --bs-btn-border-color: #c48ee6 !important;
  --bs-btn-hover-border-color: #c48ee6 !important;
  --bs-btn-focus-shadow-rgb: disable !important;
  --bs-btn-active-bg: #79588e !important;
  --bs-btn-active-border-color: #79588e !important;
  --bs-btn-disabled-bg: #ba8ed5 !important;
  --bs-btn-disabled-border-color: #ba8ed5 !important;
}

/* Navbar Text */
.navb {
  background-color: #1a1e22 !important;
  --bs-navbar-color: #efd8ff !important;
  --bs-navbar-hover-color: rgb(245 230 255) !important;
  --bs-navbar-active-color: rgb(245 230 255) !important;
  border-bottom: #ffd2fe solid 10px;
}

/* Item List Container  */
.ItemListContainer {
  /* margin-top: 1rem; */
  padding: 20px;
}

/* .TestCard {
  width: 18rem !important;
  margin-left: 20px;
} */

.Card {
  /* display: flex;
  align-items: center;
  width: 300px !important;
  height: 430px !important;
  margin: 20px; */
  width: 270px !important;
  height: 100% !important;
  margin: 0 auto;
  /* margin-right: 1rem; */
  /* margin-bottom: 1rem; */
  /* text-align: initial; */
  /* height: 100% !important; */
  /* height: 400px!important; */
  -webkit-box-shadow: 0px 0px 7px -1px rgb(0 0 0 / 10%);}

.ItemCounter {
  background-color: #ffffff;
  border: 2px solid #e1e1e1;
  width: 8rem;
  height: 2.5rem;
  margin-bottom: 10px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  color: #212121;
}

.minusplus {
  all: unset;
  font-size: 120%;
}

.num {
  font-size: 1.2rem;
  width: 39%;
}

.card-group {
  justify-content: space-around;
}

.ItemDetail {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 3rem auto;
}

.wrapper {
  width: 500px;
  margin-inline-start: 2rem;
}

.ItemDetailText {
  text-align: initial;
}

.Card-Item{
  margin-bottom: 20px;
}

.card-img {
  width: 100% !important;
  object-fit: cover;
  height: 250px;
}

.card-bodyy {
  flex: 1 1 auto;
  /* height: 50px; */
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.no-style{
  color: inherit;
  text-decoration: inherit;
  --bs-link-hover-color: #5a409c;
}

.add-to-cart{
  display: flex;
  flex-direction: column;
}